<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
                crossorigin="anonymous">
        <link href="/static/css/styles.css">
        <title>Entrofy</title>

    </head>

    <body>
<style type="text/css"> 
.left1 {
  float: left;
  padding: 15px;
}
</style>

        <div class="jumbotron" style="text-align: center">
            <h1>Entrofy</h1>
            <p>Maximum entropy conference participation</p>
        </div>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
    <li role="presentation"><a href="#instructions" aria-controls="instructions" role="tab" data-toggle="tab">Instructions</a></li>
    <li role="presentation"><a href="#input" aria-controls="input" role="tab" data-toggle="tab">Input</a></li>
    <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
    <li role="presentation"><a href="#legal" aria-controls="legal" role="tab" data-toggle="tab">Legal</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    <div class="left1">
<p>
Given a list of participants with various "attributes" (e.g., gender, career stage, subfield, geography, years since PhD), the code finds the distribution of values within each attribute (e.g, male, female) and generate a subset that approximates target value distributions (e.g, 50% male/female, 30% junior, 30% non-US). The attributes and values are user determined and based on the data present in uploaded CSV file.
</p>
   </div>
   </div>
    <div role="tabpanel" class="tab-pane" id="about">
    <div class="left1"> 
   <p>
This tool was born out of a very practical need: given that there are more applicants for a workshop than spaces, and given that some constraints on a target mixture of participants, and perhaps some pre-selected participants (e.g. invited speakers), how can the set of participants be identified such that it meets the target mixture as much as possible?
</p>
<p>
Instead of letting human organisers decide heuristically (including all the various biases that this entails [refs?]), this tool treats it as a (fairly complex) optimization problem, where the computer finds a subset of applicants that most closely matches the target mixture.
</p>
<p>
The targets could be based on various objectives that depend on the workshop or conference: for example, one could optimize for a certain mixture of abstract scores, for a breadth of talk topics, for a certain ratio of (academic) seniority, or for measures like gender or ethnicity.
</p>
<p>
Note that this is explicitly not the same as a quota: the underlying algorithim optimizes for the subset of participants that overall matches up with the targets, taking into account all targets simultaneously. It is also possible to include relative weights between targets, depending on how important they are to you.
</p>
<p>
<h4>Input</h4>
</p>
<p>
<ul>
<li>CSV file with candidates, attribute, and values</li>
<li>Target size of subset </li>
<li>Target distribution of each value </li>
<li>Weights assigned to each value </li>
</ul>
</p>
<p><h4>Output</h4></p>
<p>
<ul>
<li>Distribution of each value in input file</li>
<li>Subset of candidates which approximate the target distributions</li>
<li>Distribution of each value in subset</li>
</ul>
</p>

   </div>
   </div>
    <div role="tabpanel" class="tab-pane" id="instructions">
    <div class="left1">
    <p>First, collect data about the acceptable participants. This requires you to know which criteria you actually care about when selecting participants. This will very strongly depend on the scope, the objective and format of your workshop or conference.
</p>
<p><h4>Input CSV file format</h4>
</p>
<p>
<ul>
<li>header row required. no spaces in header names.</li>
<li>first column required to be a unique identifier. Either a unique numerical key (anonymous) or full name.</li>
<li>each column is intrepreted as an attribute (e.g, gender) </li>
<li>each field in a column is intrepreted as a value of the attribute</li>
<li>missing data should be left as empty strings</li>
</ul>
</p>
<p><h4>Interface</h4></p>
<p>
<ul>
<li>to ignore a parameter, set the weight to 0</li>
<li>pre-selected candidates may be selected (left-click) to ensure their inclusion in the subset</li>
</ul></p>
<p><h4>Implementation Suggestions</h4></p>
<p>
<ul>
<li>input list should be all acceptable candidates</li>
<li>input list should include pre-selected candidates so they are included in the distributions</li>
</ul>
</p>
<p><h4>Things you should know</h4></p>
<p>
<ul>
<li>output list is not necessarily reproducible -- each run will create a new list</li>
<li>numbers are assumed to be from a continous distribution (e.g., years since PhD)</li>
<li>quantitative attributes are divided up into at most 5 bins</li>
</ul>
    </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="input">

            <form class="navbar-form" action="/p" method="post" enctype="multipart/form-data">
                <div class="form-group form-inline">
                    <label for="csv">CSV file</label>
                    <input class="form-control" type="file" id="csv" name="csv">
                    <p class="help-block">Your CSV file should have participants in rows, and attributes in columns.

                    The participant name (or identifier) should be the first column.

                    There should be a header row indicating the name for each attribute.</p>
                </div>
                <input type="submit" class="btn btn-default" value="Upload">
            </form>

</div>

    <div role="tabpanel" class="tab-pane" id="contact">
    <div class="left1">
<p>
The code is freely available on <a href="#">github</a>.
If you find a bug, it's yours to keep, however, we invite you to open an issue on github or 
submit a pull request for a patch.
</p>

You can contact the authors <a href="#">here</a> and <a href="#">here</a>.
    </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="legal">
    <div class="left1">
<p>
Some legal stuff goes here.
</p>

    </div>
    </div>

  </div>

</div>

    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" 
            integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>

</html>
