<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
                crossorigin="anonymous">
        <!-- Optional theme -->
<!--        <link   rel="stylesheet"
                href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.0/darkly/bootstrap.min.css">
    -->    
        <title>Entrofy</title>

    </head>

    <body>
        <div class="jumbotron" style="text-align: center">
            <h1>Entrofy</h1>
            <p>Maximum entropy conference participation</p>
        </div>
        <div>
            <form action="/p" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="csvfile">CSV file</label>
                    <input type="file" id="csvfile">
                    <p class="help-block">Your CSV file should have participants in rows, and attributes in
                    columns.  The participant name (or identifier) should be the first column.  There should be
                    a header row indicating the name for each attribute.</p>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>

    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="/static/js/index.js"></script>
</html>
