<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
                crossorigin="anonymous">

        <title>Entrofy</title>

    </head>

    <body class="has-drawer">
        <div class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold" id="drawerExample" 
           aria-labelledby="drawerExample">
            <div class="drawer-controls">
                <a href="#drawerExample"
                    data-toggle="drawer" 
                    href="#drawerExample"
                    aria-foldedopen="false" 
                    aria-controls="drawerExample" 
                    class="btn btn-primary btn-sm glyphicon glyphicon-menu-hamburger">Options</a>
            </div>
            <div class="drawer-contents">
                <div class="drawer-heading">
                    <h2 class="drawer-title"> Options </h2>
                </div>
                <div class="drawer-body" id="controls">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-md-2 from-group">
                <!-- EVERYTHING GOES HERE -->
                    <label for="n_select">Target number of participants</label>
                    <input class="form-control" type="number" min="1" max="{{ kmax }}"
                    name="n_select" id="n_select" value="10" size="4">
                    <button type="button" id="go" name="go" class="btn btn-default">
                        Go!
                    </button>
            </div>

            <div class="container col-md-10">
                <table id="table" class="table table-striped table-bordered"
                    style="white-space: nowrap"></table>
            </div>
        </div>

    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/select/1.0.1/css/select.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/fixedcolumns/3.0.0/css/dataTables.fixedColumns.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.drawer.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"
crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"
crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"
crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/buttons/1.0.3/js/buttons.flash.min.js"
crossorigin="anonymous"></script>
    <script src="/static/js/buttons.html5.js"></script>
    <script src="//cdn.datatables.net/buttons/1.0.3/js/buttons.bootstrap.min.js"
crossorigin="anonymous"></script>
    <script src="/static/js/dataTables.select.js"></script>
    <script src="/static/js/drawer.js"></script>
    <script src="//cdn.datatables.net/fixedcolumns/3.1.0/js/dataTables.fixedColumns.min.js"
crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" 
            integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>

    <script>
        var raw_data = {{ table |safe }};
        var raw_columns = {{ columns|safe }};
        var targets = {{ targets|safe }};

        $(document).ready(function() {
            // build the advanced controls



            // build the table
            var table = $('#table').DataTable({
                paging: true,
                data: raw_data,
                ordering: false,
                columns: raw_columns,
                scrollX: true,
                scrollY: 420,
                scrollCollapse: true,
                fixedColumns: true,
                select: 'multi',
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: 'Save CSV',
                        exportOptions: { modifier: { selected: true } }
                    },
                    {
                        extend: 'selectNone',
                        text: 'Reset'
                    }
                ],
            });

            $('#go').click(function() {
                // Get the form data
                var n_select = $('#n_select').val();
                // TODO: get target distribution and weights

                // get the selection ids

                var pre_selects = table.rows({selected: true}).indexes();
                function update_results(data) {
                    // kill all previous selections
                    table.rows().deselect();

                    table.rows(data['selections']).select();

                    console.log('Raw stats: ' + data['p_all']);
                    console.log('Selected stats: ' + data['p_selected']);
                }

                // Send to the server
                $.ajax({type: "POST",
                    url: '/h',
                    contentType: 'application/json',
                    data: JSON.stringify({data: raw_data, 
                                          index: raw_columns[0].title,
                                          columns: raw_columns,
                                          n_select: n_select,
                                          pre_selects: pre_selects.toArray()}),
                    success: update_results,
                    dataType: 'json'});
            });
        });

    </script>
</html>
