<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
                crossorigin="anonymous">

        <title>Entrofy</title>

    </head>

    <body>
        <div class="page-header" style="text-align: center">
            <h1>Entrofy
            <small>Maximum entropy conference participation</small>
            </h1>
        </div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" id="slider_button" name="slider_button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Sliders</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body" id="sliders" name="sliders">
      </div>
    </div>
  </div>
        </div>
        <div class="container col-md-2">
            <!-- EVERYTHING GOES HERE -->
            <div class="form-group">
                <label for="n_select">Target number of participants</label>
                <input class="form-control" type="number" min="1" max="{{ kmax }}"
                name="n_select" id="n_select" value="10" size="4">
                <button type="button" id="go" name="go" class="btn btn-default">
                    Go!
                </button>
            </div>
        </div>
        <div class="container col-md-9">
            <table id="data_table"></table>
        </div>

    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script> 
    <script
src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/extensions/export/bootstrap-table-export.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" 
            integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>

    <script src="/static/js/tableExport.min.js"></script>
    <script>
        var table = {{ table |safe }};

        $('#data_table').bootstrapTable({
            pagination: true,
            clickToSelect: true,
            maintainSelected: true,
            search: true,
            data: table,
            undefinedText: '-',
            sortable: false,
            showColumns: true,
            showExport: true,
            exportDataType: 'selected',
            columns: {{ columns|safe }} });

        $('#go').click(function() {
            // Get the form data
            var n_select = $('#n_select').val();
            var data = $('#data_table').bootstrapTable('getData');

            // TODO: get target distribution and weights

            // get the selection ids

            var pre_selects = [];
            $('input[name="btSelectItem"]:checked').each(function() {
                pre_selects.push($(this).data('index'));
            });

            function update_results(data) {
                // kill all previous selections
                $('#data_table').bootstrapTable('uncheckAll');

                data['selections'].map(function(row) {
                    $('#data_table').bootstrapTable('check', row);
                });
            }

            // Send to the server
            $.ajax({type: "POST",
                url: '/h',
                contentType: 'application/json',
                data: JSON.stringify({data: data, 
                                      n_select: n_select,
                                      pre_selects: pre_selects}),
                success: update_results,
                dataType: 'json'});
        });
        $("#slider_button").click(function() {
//            window.alert("Hello")
            var data = $('#data_table').bootstrapTable('getData');
            



       });




    </script>
</html>
