<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
                crossorigin="anonymous">

        <title>Entrofy</title>

    </head>

    <body>
        <div class="page-header" style="text-align: center">
            <h1>Entrofy
            <small>Maximum entropy conference participation</small>
            </h1>
        </div>
        <div class="container col-md-2">
            <!-- EVERYTHING GOES HERE -->
            <div class="form-group">
                <label for="n_select">Target number of participants</label>
                <input class="form-control" type="number" min="1" max="{{ kmax }}"
                name="n_select" id="n_select" value="10" size="4">
                <button type="button" id="go" name="go" class="btn btn-default">
                    Go!
                </button>
            </div>
        </div>
        <div class="container col-md-9">
            <table id="data_table" class="table table-striped table-bordered"></table>
        </div>

    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/select/1.0.1/css/select.dataTables.min.css">

    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"
crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"
crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"
crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/buttons/1.0.3/js/buttons.flash.min.js"
crossorigin="anomyous"></script>
    <script src="//cdn.datatables.net/buttons/1.0.3/js/buttons.html5.min.js"
crossorigin="anomyous"></script>
    <script src="//cdn.datatables.net/buttons/1.0.3/js/buttons.bootstrap.min.js"
crossorigin="anomyous"></script>
    <script src="//cdn.datatables.net/select/1.0.1/js/dataTables.select.min.js"
crossorigin="anomyous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" 
            integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>

    <script src="/static/js/tableExport.min.js"></script>
    <script>
        var raw_data = {{ table |safe }};
        var raw_columns = {{ columns|safe }};
        $(document).ready(function() {
            var table = $('#data_table').DataTable({
                paging: true,
                data: raw_data,
                ordering: false,
                columns: raw_columns,
                scrollX: true,

                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Save selected participants',
                        exportOptions: { modifier: { selected: true } }
                    },
                    'selectNone',
                ],
                select: 'multi',
            });

            $('#go').click(function() {
                // Get the form data
                var n_select = $('#n_select').val();
                // TODO: get target distribution and weights

                // get the selection ids

                var pre_selects = table.rows({selected: true}).indexes();
                function update_results(data) {
                    // kill all previous selections
                    table.rows().deselect();

                    table.rows(data['selections']).select();
                }

                // Send to the server
                $.ajax({type: "POST",
                    url: '/h',
                    contentType: 'application/json',
                    data: JSON.stringify({data: raw_data, 
                                          columns: raw_columns,
                                          n_select: n_select,
                                          pre_selects: pre_selects.toArray()}),
                    success: update_results,
                    dataType: 'json'});
        });

        });

    </script>
</html>
